@media screen and (max-width: 1199px) {
  .ct_navbar li a {
    font-size: 16px;
  }
  .ct_navbar ul {
    gap: 40px;
  }
  .ct_px_100 {
    padding-inline: 48px;
  }
  .ct_host_process_bg {
    padding: 107px 80px;
  }
    .host-how-work-box{

  grid-template-columns: repeat(3, 1fr);

}
   
}
@media screen and (max-width: 991px) {
  .ct_navbar > ul {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 300px;
    right: -100%;
    height: 100vh;
    background-color: var(--orange);
    top: 0px;
    padding: 60px 30px;
    z-index: 999;
    transition: 0.4s ease all;
  }
  .ct_login_dropdown ul.dropdown-menu.show {
    height: auto;
    /* position: unset !important; */
  }
  .ct_login_dropdown ul.dropdown-menu.show li a {
    color: #000;
  }
  .ct_navbar.ct_show ul {
    right: 0px;
  }
  .ct_navbar li a:after,
  .ct_navbar li span:after {
    background-color: #fff;
  }
  .ct_close_menu {
    display: block;
  }
  .ct_navbar li a,
  .ct_navbar li span,
  .ct_navbar li {
    color: #fff;
  }
  .ct_navbar li a:hover,
  .ct_navbar li span:hover,
  .ct_navbar li a.active {
    color: #fff;
  }

  .ct_menu_bar {
    display: block;
  }

  .ct_navbar {
    padding-left: 0px;
  }
  .ct_navbar ul {
    justify-content: start;
  }
  .ct_home_serch_filter {
    flex-direction: column;
  }
  /* .ct_home_serch_filter .form-group input {
    border: 1px solid #e6e6e6 !important;
  } */
  .ct_home_serch_filter .form-group {
    width: 100% !important;
  }
  .ct_flex_col_991 {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .ct_w_100_991 {
    width: 100%;
  }
  .ct_home_serch_filter {
    border-radius: 15px;
    padding: 20px;
  }

  .ct_border_right_1_grey {
    border: 0px;
  }
  .ct_select_res_white {
    color: #fff;
  }

  .ct_testimonial_slider .owl-nav button.owl-next {
    position: unset;
  }
  .ct_testimonial_slider .owl-nav button.owl-prev {
    position: unset;
  }
  .ct_testimonial_slider .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
  }
  .ct_newsletter_bg {
    grid-template-columns: auto;
    text-align: center;
    gap: 20px;
  }
  .ct_py_0_res_991 {
    padding-block: 0px;
  }
  .ct_newsletter_bg img {
    display: none;
  }
  .ct_newsletter_bg {
    padding: 40px;
  }
  .ct_space_income_bg img {
    display: none;
  }
  .ct_host_process_bg {
    padding-inline: 80px;
  }

  .ct_login_left_cnt {
    display: none;
  }

  .ct_login_main {
    grid-template-columns: auto;
  }

  /* ul#ct_form_progressbar.ct_host_process_multi_form {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
  } */
  /* #ct_form_progressbar li:after {
    display: none;
  } */

  .ct_fs_35 {
    font-size: 28px;
  }
  .ct_apartment_detail_section_links {
    justify-content: start;
    gap: 15px;
  }
  .ct_home_serch_filter input {
    /* border-bottom: 1px solid #f2f2f2 !important; */
    border-radius: 0px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .ct_host_process_bg {
    padding-inline: 50px;
  }
  .ct_outline_border {
    padding-inline: 15px;
  }
  .ct_blog_main_card {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .ct_main_blog_inner_card {
    margin-right: 0px;
  }
  .ct_main_blog_right_img {
    height: 300px;
  }
  .ct_main_blog_inner_card {
    margin-block: 0px;
  }
  .ct_main_blog_inner_card {
    padding: 30px;
  }
  .ct_py_48_px_35 {
    padding: 15px;
  }
  .ct_custom_tabs.nav-pills {
    gap: 15px;
  }

  .ct_gallery {
    grid-template-columns: 0 1fr;
  }
  .ct_amenties_list {
    grid-template-columns: repeat(2, 1fr);
  }
  ul.ct_landloard_right_info li {
    padding-inline: 20px;
  }
  .ct_flex_col_767 {
    flex-direction: column !important;
    align-items: start !important;
  }
  .ct_w_100_767 {
    width: 100% !important;
  }
  .ct_custom_drop_mega_menus {
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .ct_light_blue_outline {
    padding-inline: 20px;
  }
  .ct_pe_40{
    padding-right: 20px;
  }
    .ct_multidate_containerForm_main .ui-datepicker.ui-datepicker-multi {
      flex-direction: column;
    }
    .ct_fs_24{
      font-size: 20px;
    }
      .host-how-work-box{

  grid-template-columns: repeat(2, 1fr);

}
}

@media screen and (max-width: 575px) {
  .ct_header {
    padding-inline: 15px;
  }
  .ct_header {
    gap: 15px;
  }
  .ct_grid_2 {
    grid-template-columns: auto;
  }
  .ct_flex_col_575 {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .ct_w_100_575 {
    width: 100% !important;
  }
  .ct_designed_card {
    margin-inline: auto;
  }
  .ct_designed_card_main {
    text-align: center;
  }
  .ct_px_100,
  .ct_submit_a_Query_bg {
    padding-inline: 15px;
  }
  .ct_host_process_bg {
    padding-inline: 30px;
  }
  .ct_main_blog_inner_card {
    padding: 15px;
  }
  .ct_custom_tabs {
    flex-direction: column;
    width: 100%;
  }
  .ct_custom_tabs button,
  .ct_custom_tabs .nav-item {
    width: 100%;
  }
  .ct_login_main form {
    padding: 20px;
  }
  #ct_form_progressbar li h5 {
    font-size: 12px;
  }
  .ct_fs_35 {
    font-size: 24px;
  }
  .ct_fs_24 {
    font-size: 20px;
  }
  .ct_fs_20 {
    font-size: 18px;
  }
  .ct_fs_18 {
    font-size: 16px;
  }
  .ct_fs_16 {
    font-size: 14px;
  }
  p,
  input,
  label,
  a {
    font-size: 14px;
  }
  .ct_newsletter_bg {
    padding: 20px;
  }
  .ct_fs_22 {
    font-size: 19px;
  }
  .ct_amenties_list {
    grid-template-columns: repeat(1, 1fr);
  }
  .ct_rent_deposit_img {
    max-width: 100%;
    width: 100%;
  }
  .ct_rent_deposit_cnt {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .ct_rent_deposit_img img {
    transform: scale(1);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  ul.ct_landloard_right_info {
    flex-wrap: wrap;
  }
  ul.ct_landloard_right_info li {
    border: 0px;
    padding: 0px;
  }
  .ct_avalable_table td {
    font-size: 14px;
  }

      .ct_review_slider{
        padding-inline:0;
    }

   
    .ct_review_slider{
      width: 100%;
    }
    .ct_review_prev, .ct_review_next{
      position: unset;
      width: 35px;
      height: 35px;
      transform: unset;
    }
    .ct_responsive_nav{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    }
      .host-how-work-box{

  grid-template-columns: repeat(1, 1fr);

}
}
